<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio | Lohany</title>
    <link rel="shortcut icon" href="/static/assets/estrela.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    
    <div>
        <div class="cabeçario">
            <img class="portfolio_t" src="/static/assets/portfolio.png" alt="">
            <img class="linha" src="/static/assets/linha.png" alt="">
            <img class="brilho" src="/static/assets/brilhos.png" alt="">
        </div>


            <img class="titulo" src="/static/assets/titulo.png" alt="">


        <div>
            <img class="sobremim" src="/static/assets/sobremim.png" onclick="scrollParaSobre()" alt="">
        </div>

        <div >
            <img class="habili" src="/static/assets/habili.png" onclick="scrollParaHabilidades()" alt="">
        </div>

        <div>
            <img class="softt" src="/static/assets/softt.png" onclick="scrollParaSoft()" alt="">
        </div>

        <div>
            <img class="projet" src="/static/assets/proje.png" onclick="scrollParaProjetos()" alt="">
        </div>

        <div>
            <img class="cont" src="/static/assets/contatosss.png" onclick="scrollParaContatos()" alt="">
        </div>
  
        <div>
            <img class="lo" src="/static/assets/lohany.png">
        </div>

        <div>
            <img class="est" src="/static/assets/estrelaaa.png">
        </div>

        <div>
            <img class="estd" src="/static/assets/estrelaaa.png">
        </div>


    </div>

    <div>
        <h5 class="me_contate" >Me contate</h5>
    </div>

    <div class="redes_sociais">
        <a href="https://www.linkedin.com/in/lohany-macedo-854489368/">
            <img class="linkedin" src="/static/assets/link.png" alt="">
        </a>

        <a href="https://github.com/Lohanyy17">
            <img class="git" src="/static/assets/git.png" alt="">
        </a>
    
        <a href="https://www.instagram.com/lohanympereira/">
            <img class="insta" src="/static/assets/insta.png" alt="">
        </a>
    </div>

    <!-- Sobre mim -->
    <section id="sobre">
        <div>
            <img class="sobre_mim" src="/static/assets/sobre.png">
        </div>


        <div>
            <img class="deco" src="/static/assets/decoracao.png">
            <img class="deco2" src="/static/assets/decoracao.png">
        </div>

            <img class="quem" src="/static/assets/quemsou.png">

            <div>
                <p class="sobre_mim_texto">
                    Olá! Meu nome é Lohany Macedo e realizei o curso Desenvolvimento de Sistemas do SESI/SENAI. Tenho afinidade por desing e desenvolvimento front-end, sou uma pessoa naturalmente curiosa e apaixonada por aprender coisas novas —
                    desde habilidades técnicas até conhecimentos diversos do dia a dia. Essa curiosidade me torna versátil e sempre disposta a encarar novos desafios com criatividade e flexibilidade.Gosto de explorar diferentes áreas, e isso me ajuda a me adaptar com facilidade em ambientes diversos. Além disso, sou bastante comunicativa e acredito que a troca de ideias é essencial para o crescimento pessoal e profissional.
                    Estou sempre em busca de oportunidades para crescer, evoluir e contribuir com o que aprendo no caminho. <br>
                </p>
            </div>

            <img class="livro" src="/static/assets/livros.png">
    </section>

    <!-- Habilidades -->

    <section id="habilidades">

        <div>
            <img class="habilidades" src="/static/assets/habilidades.png">
        </div>

        <img class="estrelasb" src="/static/assets/estrelasb.png">

        <div>
            <img class="css" src="/static/assets/css.png">
        </div>

        <div>
            <img class="html" src="/static/assets/html.png">
        </div>

        <div>
            <img class="js" src="/static/assets/js.png">
        </div>

        <div>
            <img class="canva" src="/static/assets/canva.png">
        </div>

        <div>
            <img class="sqlite" src="/static/assets/sqlite.png">
        </div>

        <div>
            <img class="python" src="/static/assets/python.png">
        </div>

        <img class="fita" src="/static/assets/fita.png">

        <img class="seta" src="/static/assets/seta.png">

    </section>

    <!-- Soft skills -->

    <section id="softskills">

        <div>
            <img class="soft" src="/static/assets/soft.png">
        </div>

        <img class="estrelass" src="/static/assets/estrelass.png">

        <img class="estrelassd" src="/static/assets/estrelass.png">

        <div>
            <img class="interesses" src="/static/assets/interesses.png">
        </div>

        <div>
            <img class="cardeneta" src="/static/assets/caderneta.png">
            <img class="cardenetad" src="/static/assets/caderneta.png">
        </div>

        <div>
            <p class="soft_skills">- Trabalho em <br> equipe;<br>
                <br>
                - Resolução de <br> problemas;<br>
                <br>
                - Pensamento crítico;<br>
                <br>
                - Organização.</p>
        </div>

        <div>
            <p class="soft_skillsd">- Proatividade;<br>
            <br>
            - Criatividade;<br>
            <br>
            - Facilidade de <br> aprendizado;<br>
            <br>
            - Empatia no trabalho <br> em grupo.
            </p>
        </div>

    </section>

        <!-- Projetos -->

    <section id="projetos">

        <div>
            <img class="projetos" src="/static/assets/projeto.png">
        </div>

        <img class="botao" src="/static/assets/botao.png">
        

        <div>
            <a href="https://site-game-master-2.onrender.com">
                <img class="gamemaster" src="/static/assets/gamemaster.jpg">
            </a>
        </div>

        <div>
            <a href="https://projeto-inovar-gtmax-2024.onrender.com/">
                <img class="gtmax3d" src="/static/assets/gtmax3d.jpg">
            </a>
        </div>

        <div>
            <a href="https://supertrunfo-wxip.onrender.com/">
                <img class="jogo" src="/static/assets/jogo.png">
            </a>
        </div>

        <div>
            <a href="https://477h9ikc9v8p.manus.space/">
                <img class="chat" src="/static/assets/chat.png">
            </a>
        </div>

        <div>
            <a href="https://miley-0em2.onrender.com/">
                <img class="miley" src="/static/assets/miley's.png">
            </a>
        </div>

        <div>
            <a href="https://supernatural.onrender.com">
                <img class="supernatural" src="/static/assets/supernatural.png">
            </a>
        </div>

    </section>   

    <!-- Contatos -->

    <section id="contatos">

        <img class="contatosd" src="/static/assets/contatod.png">

        <img class="titulod" src="/static/assets/titulod.png">

        <img class="phone" src="/static/assets/phone.png">

        <img class="telefone" src="/static/assets/telefone.png">

        <img class="star" src="/static/assets/star.png">

        <img class="stard" src="/static/assets/stard.png">

        <form action="https://formsubmit.co/lohanypmacedo@gmail.com" method="POST">

            <input placeholder="NOME:" type="text" id="name" name="name" required>

            <input placeholder="EMAIL:" type="email" id="email" name="email" required>

            <textarea placeholder="MENSAGEM:" id="message" name="message" rows="5" required></textarea>

            <div class="botoes">
                <button type="submit">ENVIAR</button>
                <button type="reset">APAGAR MENSAGEM</button>
            </div>
        </form>

    </section>

    <script src="/static/script/script.js"></script>


</body>
</html>
